@import url("https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap");
@import url("https://use.typekit.net/isz3slv.css");

*,
html {
  box-sizing: border-box;
  font-family: "Zen Antique", serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding-top: 1.5em;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 1em 0 1em 0;
}

span {
  font-family: courier-std, monospace;
  padding: 0.2em 0.4em;
  border-radius: 6px;
  background-color: #f6f8fa;
}

#sectionOne ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sectionOne ul li {
  list-style-type: disc;
}

#sectionOne ul li + li {
  padding-top: 0.25em;
}

#sectionTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sectionTwo p {
  padding-top: 1.5em;
}

#overweightMap {
  box-sizing: content-box;
  display: block;
  width: 496px;
  height: 496px;
  margin-bottom: 0.5em;
  padding: 1em;
}

.province {
  stroke: white;
  stroke-width: 0.75;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0 1em 0;
}

form input {
  margin-right: 0.25em;
}

#overweightMapLegend {
  box-sizing: content-box;
  padding: 1em;
  margin: 0 auto;
}

#overweightMapLegend text {
  font-size: 0.75em;
}

/* Pure CSS custom radio buttons borrowed from https://moderncss.dev/pure-css-custom-styled-radio-buttons/. */
input[type="radio"] {
  display: grid;
  place-content: center;

  appearance: none;
  color: black;
  background-color: #fff;

  width: 1em;
  height: 1em;
  border: 2px solid black;
  border-radius: 50%;

  transform: translateY(-1px);
  transform: translateX(-1px);
}

input[type="radio"]::before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  transform: scale(0);
  transition: 100ms transform ease-in-out;
  box-shadow: inset 1em 1em black;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

form label {
  padding-right: 1em;
}

form label:last-child {
  padding: 0;
}

#sectionThree {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sectionThree svg text {
  font-size: 0.75em;
}
